@import '../../../mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/*  THEME PARAMS STYLES */

body.fixedWidth {
  #root {
    max-width: 1420px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    .ant-layout-sider {
      border-left: 1px solid $gray-border !important;
      border-right: 1px solid $gray-border !important;
      box-sizing: content-box;
    }

    .ant-menu {
      color: $text;
      border-right: none !important;
    }
  }

  @media (min-width: 1440px) {
    &.isMenuTop {
      .utils__content {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .breadcrumbBar, .footer {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}

body.squaredBorders {
  .card {
    border-radius: 0;
  }
}

body.menuShadow {
  .ant-layout-sider {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 200px -20px rgba(57,55,73,.4);
  }
}

body.borderedCards {
  .card {
    border-top: 4px solid $success !important;
  }
}

body.menuHorizontal {
  &.fixedWidth {
    .utils__content {
      padding-left: 0;
      padding-right: 0;
    }

    .breadcrumbBar, .footer {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

body.themeLight {
  .ant-layout-sider-trigger {
    background: $gray-border;
    color: inherit;
  }

  .ant-layout-sider {
    background: $white;
    border-right: 1px solid $gray-border;
  }

  &:not(.menuCollapsed) {
    .ant-menu {
      color: $text;
      border-right: none;
    }
  }

  .ant-menu-item > a {
    color: $text;
    &:hover {
      color: $blue;
    }
  }

  .drawer-content {
    background: $white !important;
  }
}

body.borderLess {
  .card {
    border: none
  }

  .card-header {
    padding-top: rem(20);
    padding-bottom: 0;
    border-bottom: 0;
  }

  .card-footer {
    padding-top: 0;
    border-top: 0;
  }

  .utils__title {
    text-transform: uppercase;
    font-size: rem(16);
  }
}

.utils__loadingPage {
  position: fixed;
  z-index: 19999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDFweCIgIGhlaWdodD0iNDFweCIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiBjbGFzcz0ibGRzLXJvbGxpbmciPiAgICA8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuY29sb3J9fSIgbmctYXR0ci1zdHJva2Utd2lkdGg9Int7Y29uZmlnLndpZHRofX0iIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIHN0cm9rZT0iIzAxOTBmZSIgc3Ryb2tlLXdpZHRoPSIxMCIgcj0iMzUiIHN0cm9rZS1kYXNoYXJyYXk9IjE2NC45MzM2MTQzMTM0NjQxNSA1Ni45Nzc4NzE0Mzc4MjEzOCIgdHJhbnNmb3JtPSJyb3RhdGUoODQgNTAgNTApIj4gICAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgY2FsY01vZGU9ImxpbmVhciIgdmFsdWVzPSIwIDUwIDUwOzM2MCA1MCA1MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPiAgICA8L2NpcmNsZT4gIDwvc3ZnPg==);
  background-color: #f2f4f8;
}
